
$orbit-bg : #d5b4d2;
$orbit-container-bg: $orbit-bg;

//@import "../bower_components/foundation/scss/normalize.scss";

// CSSファイルからの相対パスでなければいけない
@import "../bower_components/foundation/scss/foundation.scss";



html, body {
	background: #f0d5ed;
}

/*==========================

	ヘッダー

==========================*/
$button-med: rem-calc(8);
.header__nav {
	@include button;
}


/*==========================

	スライダー

==========================*/
.ranking {
	a{
		@include button;
	}
	.ranking__items {
		@include block-grid();
	}
}


/*==========================

	Salon

==========================*/

/*==========================
	salon - Root画面
==========================*/


/*==========================
	salon - 検索結果画面
==========================*/
.search-result {
	@include grid-row();
	margin-bottom: 30px;
	.salon-img {
		@include grid-column(3);
	}
	.salon-caption {
		@include grid-column(9);
	}
	ul {
		margin: 0;
		li {
			display: inline-block;
		}
	}
}

/*==========================
	salon - 詳細画面
==========================*/

.salon-content {
	@include grid-row();

	.salon-img > img {
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid #000;
	}

	.salon-imgs > img {
		width: 49%;
		padding-bottom: 8px;
		padding-right: 3px;
	}

	.salon-img {
		@include grid-column(3);
	}
	.salon-caption {
		@include grid-column(9);
	}

	.salon-tags {
		margin: 0;
		li {
			display: inline-block;
		}
	}

	.salon__beauticians {
		@include block-grid();
	}
}

/*==========================
	Beautician
==========================*/

/*==========================
	beautician 検索結果画面
==========================*/

.beautician-search-result {
	@include grid-row();
	.beautician-img {
		@include grid-column(3);
	}
	.beautician-caption {
		@include grid-column(9);
	}
}

/*==========================
	beautician 詳細画面
==========================*/

.beautician-content {
	@include grid-row();
	.beautician-img {
		@include grid-column(3);
	}
	.beautician-caption {
		@include grid-column(9);
	}

	.beautician-tags {
		margin: 0;
		li {
			display: inline-block;
		}
	}
}



@mixin tag {
	$dot-border : 3px dashed #000;
	$tag-bg :
		// 上下のボーダーと背景色
		linear-gradient( transparent 8%, rgba(0, 0, 0, 0.1) 8%, rgba(0, 0, 0, 0.1) 14%, transparent 14%, transparent 86%, rgba(0, 0, 0, 0.1) 86%, rgba(0, 0, 0, 0.1) 92%, transparent 92% ),
		linear-gradient(#ede5cc, #ede5cc);
	display: inline-block;
	padding: 0 10px;
	line-height: 30px;
	background: $tag-bg;
	&:after {
		content:'';
		position: absolute;
		background: #ede5cc;
		height: 0;
		z-index: -1;
		margin-left: -5px;
		border: 15px solid rgba(0, 0, 0, 0);
		border-right: 10px solid $orbit-bg;
	}
}


.tags label{
	@include tag;
	margin-right: 30px;
	margin-bottom: 10px;
}

.tags li {
	@include tag;
	margin-right: 15px;
}
