
$orbit-bg : #bdc3c7;
$orbit-container-bg: $orbit-bg;

//@import "../bower_components/foundation/scss/normalize.scss";

// CSSファイルからの相対パスでなければいけない
@import "../bower_components/foundation/scss/foundation.scss";

/*==========================

	ヘッダー

==========================*/
$button-med: rem-calc(8);
.header__nav {
	@include button;
}

.tags label {
	$dot-border : 3px dashed #000;
	$tag-bg :
		// 上下のボーダーと背景色
		linear-gradient( transparent 8%, rgba(0, 0, 0, 0.1) 8%, rgba(0, 0, 0, 0.1) 14%, transparent 14%, transparent 86%, rgba(0, 0, 0, 0.1) 86%, rgba(0, 0, 0, 0.1) 92%, transparent 92% ),
		linear-gradient(#ede5cc, #ede5cc);
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 10px;
	padding: 0 10px;
	line-height: 30px;
	background: $tag-bg;
	&:after {
		content:'';
		position: absolute;
	   background: $tag-bg;
	   height: 0;
	   z-index: -1;
	   margin-left: -5px;
	   border: 15px solid rgba(0, 0, 0, 0);
	   border-right: 10px solid $orbit-bg;
	}
}
